@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', san-serif;
}

:root {
    --primary: #ec9b69;
    --dark: #313131;
    --light: #FFFFFF;
    --gray: #F8F8F8;
    --silver: #b2bec3;

}

body {
    background-color: var(---gray);
}

header {
    background-color: var(--light);
    display: flex;
    width: 100%;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    padding: 13px;

}

#logo {
    width: 207px;
}

.search {
    width: 303px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 11px;
    border: 1px solid var(--silver);
    margin-right: 2;
    border-radius: 8px;
}

.search-input {
    width: 351px;
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--dsilver)
    
}

.search-button {
    width: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.highlight-text {
    font-weight: 700;
    color: var(--primary);
}


/* main */

.mascote-github {
    padding-top: 5rem;
    width: 30rem;
}

#main-content {
    display: flex;
    justify-content: center;
    /* align-items: center;
    height: calc(100vh - 132px); */
}

.card {
    width: 252px;
    padding-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.profile-img {
    width: 100%;
    border-radius: 20px;
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.profile-title{
    font-size: 32px;
    color: var(--primary);
    margin-top: 12px;
    letter-spacing: .05rem;
}

.profile-subtitle, .profile-description{
    font-size: 14px;
    color: var(--silver);
}

.profile-subtitle {
    margin-top: 5px;
}

.profile-description {
    margin-top: 17px;
}

.profile-infos {
    display:flex;
    margin-top: 8px;
}

.box-icons {
    background-color: var(--light);
    width: 66px;
    height: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: transparent;
}

.box-icons:last-child {
    margin-left: 8px;
    cursor: pointer;
}

.box-text {
    font-weight: 700;
}

/* not-found */

.not-found-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.not-found-title {
    color: var(--primary);

}

.not-found-subtitle {
    color: var(--silver);
    font-size: 30px;
}

.not-found-img {
    margin-top: 60px;
}

/* repositories */


#repositories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
    gap: 32px;
    margin: 50px auto;
    height: 100%;
  }
  
  .repository {
    background-color: var(--gray);
    width: 442px;
    height: 148px;
    border-radius: 8px;
    border-right: 3px solid var(--primary);
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .repository-title {
    font-size: 18px;
    color: var(--dark);
  }
  
  .repository-description {
    font-size: 14px;
    color: var(--silver);
    margin-top: 15px;
  }
  
  .repository-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }

/* No repository */

.no-repository {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    padding-left: 10rem;
    height: calc(100vh - 132px);
    width: 65rem;
    padding-top: 10rem; 
}

.no-repository-title {
    font-size: 2rem;
    color: var(--silver);
}

/* Footer */

.footer>p {
    font-size: 14px;
}

.footer {
    background-color: var(--light);
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 66px;
}

 /* Dark-mode */
 .dark-mode {
    --primary: #FFA500; 
    --ddark: #202125; /* Cor de fundo para o modo escuro */
    --dlight: #333333; /* Cor de texto para o modo escuro */
    --dgray: #e6e6e6e5; 
    --dsilver: #999999; /* Cor de texto secundária para o modo escuro */

}

body.dark-mode {
    background-color: var(--ddark);
}

body.dark-mode header {
    background-color: var(--ddark);
}

#dark-mode-button {
    border: none; 
    background-color: transparent;   
    
}
body.dark-mode footer {
    background-color: var(--ddark);
}

body.dark-mode footer>p {
    color: var(--dsilver);
}

body.dark-mode .repository {
    background-color: var(--dlight);
}

body.dark-mode .repository-title {
    color: var(--dsilver);
}